* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #b7b8b8;
}



.nav-left {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100VW;
}

.nav-right {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100VW;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-bottom: .2em;

}

#logo>a {
    padding: 0;
}

li {
    font-family: 'Work Sans', sans-serif;

}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
}

nav a:hover {
    background-color: #3B94D9;
}

.nav-right li:nth-child(1) {
    margin-right: auto;
}


