body {
    background-color: #e7e7ef;
}

div.main-header {
    margin: 10px auto;
    width: 950px;
    padding: 50px;
    background-color: #bd8c7d;
    text-align: center;
    color: white;
    font-size: 1.75em;
}

em {
    color: #d1bfa7;
}

h2{
    color: #ffffff;
    text-decoration: underline;
}

#container-lists {
    display: flex;
    padding-left: 161px;
    padding-right: 19px;
    float: left;
}

.list {
    margin: 10px;
    width: 245px;
    height: 200px;
    background-color: #49494b;
    text-indent: 1em;
}

.right-navbar {
    margin: 10px;
    padding: 0;
    width: 236px;
    height: 300px;
    background-color: #fffdfd;
    float: left;
}

.right-navbar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;

}

.right-navbar>ul>li>a {
    display: block;
    color: #000;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
}

#photo-vision {
    display: block;
    background-color: #bd8c7d;
    float: left;
    margin-left: 171px;
    margin-top: -101px;
    width: 775px;
    text-align: center;
    font-size: 1.4em;
}

.products-table {
    float: right;
}

.container-photos {
    float: left;
    margin-left: 171px;
    padding: 10px;
    background-color: #49494b;
}


