* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #beeaea;
    color: #343b40
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.box-shadow-custom {
    box-shadow: 5px 10px 23px -5px rgba(102,96,99,1);
}

.container {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}


.weather-card {
    background: linear-gradient(-45deg, #ee7752, #e3c7fd, #23d5ab);
    background-size: 400% 400%;
    /*animation name, duration , timing function, iteration count */
    /*Ease: Equal to cubic-bezier(0.25, 0.1, 0.25, 1.0), the default value,
    increases in velocity towards the middle of the animation,
    slowing back down at the end.*/
    animation: gradient 15s ease infinite;
    border: none;
    border-radius: 2%;
}


/*The @keyframes CSS at-rule controls the intermediate steps in a
CSS animation sequence by defining styles for keyframes (or waypoints) along the animation sequence.
This gives more control over the intermediate steps of the animation sequence than transitions.*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#map {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: white solid 4px;
    margin-top: 2em;
}

.current-container {
    margin-top: 1em;
    text-shadow: 3px 1px 7px rgba(150, 155, 150, 1);
}

.forecast-container {
    margin-top: 3em;
}

.border-none {
    border: none;
}

@media screen and (min-width:375px) {
    #map {
        width: 300px;
        height: 300px;
    }
}
@media screen and (min-width:1200px) {

    .container {
        margin-top: 4em;
        width: 50%;
        text-align: left;
    }
     #map {
        width: 350px;
        height: 350px;
        float: right;
        margin-top: 4em;
        margin-right: 2em;

    }

}
